/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align:center;
}
  
.jumbotron{
  background-color:transparent !important;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}


.cardShortDescription{
  max-height:120px;
  overflow: hidden; 
}

.cardName{
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}